<div class="container" style="margin-top: 10vh">
  <div class="row justify-content-center">
    <img
      src="assets/logo.png"
      class="img-fluid"
      style="width: auto; height: 15vh"
    />
  </div>
  <div class="row justify-content-center">
    <h1>EzConnect</h1>
  </div>
  <div class="row mt-4">
    <div class="col-sm-12 col-md-6 col-lg-6 mt-2">
      <h4>Entrar</h4>
      <div class="border p-4">
        <h6>Correo</h6>
        <input type="email" style="width: 100%" [(ngModel)]="loginEmail" />
        <h6>Contraseña</h6>
        <input
          type="password"
          style="width: 100%"
          [(ngModel)]="loginPassword"
        />
        <button
          type="button"
          class="btn btn-primary mt-3"
          style="width: 100%"
          (click)="handleLogin()"
        >
          Entrar
        </button>
      </div>
      <div class="alert alert-danger my-2" role="alert" *ngIf="this.loginError">
        {{ this.loginError }}
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 my-2">
      <h4>Registrarse</h4>
      <div class="border p-4">
        <h6>Nombre completo</h6>
        <input type="text" style="width: 100%" [(ngModel)]="registerName" />
        <h6>Correo</h6>
        <input type="email" style="width: 100%" [(ngModel)]="registerEmail" />
        <h6>Contraseña</h6>
        <input
          type="password"
          style="width: 100%"
          [(ngModel)]="registerPassword"
        />
        <h6>Confirmar contraseña</h6>
        <input
          type="password"
          style="width: 100%"
          [(ngModel)]="registerConfirmPassword"
        />
        <h6>Foto</h6>
        <input
          type="file"
          style="width: 100%"
          (change)="handlePhoto($event)"
          accept="image/x-png"
        />
        <button
          type="button"
          class="btn btn-success mt-3"
          style="width: 100%"
          (click)="handleRegister()"
        >
          Registrarse
        </button>
      </div>
      <div
        class="alert alert-danger my-2"
        role="alert"
        *ngIf="this.registerError"
      >
        {{ this.registerError }}
      </div>
    </div>
  </div>
</div>
